<%= form_with(model: custom3, local: true) do |form| %>
  <% if custom3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom3.errors.count, "error") %> prohibited this custom3 from being saved:</h2>

      <ul>
      <% custom3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :custom3_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :custom3_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
