<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @custom3.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @custom3.description %>
</p>

<%= link_to 'Edit', edit_custom3_path(@custom3) %> |
<%= link_to 'Back', custom3s_path %>
