
<p id="notice"><%= notice %></p>

<h2>This is my header</h2> 

<hr>

  <div>
    <% @custom2s.each do |custom2| %>
      <div class="styles">
        <p><%= custom2.title %></p>
        <p><%= custom2.description %></p>
        <p><%= link_to 'Show', custom2 %></p>
        <p><%= link_to 'Create', edit_custom2_path(custom2) %></p>
        <p><%= link_to 'Delete', custom2, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  </div>


<hr>

<%= link_to 'Create a new Custom2', new_custom2_path %>
