<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @custom2.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @custom2.description %>
</p>

<%= link_to 'Edit', edit_custom2_path(@custom2) %> |
<%= link_to 'Back', custom2s_path %>
