<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @no_java.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @no_java.body %>
</p>

<%= link_to 'Edit', edit_no_java_path(@no_java) %> |
<%= link_to 'Back', no_javas_path %>
