<p id="notice"><%= notice %></p>

<h1>No Styles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @no_styles.each do |no_style| %>
      <tr>
        <td><%= no_style.title %></td>
        <td><%= no_style.body %></td>
        <td><%= link_to 'Show', no_style %></td>
        <td><%= link_to 'Edit', edit_no_style_path(no_style) %></td>
        <td><%= link_to 'Destroy', no_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New No Style', new_no_style_path %>
