<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @no_style.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @no_style.body %>
</p>

<%= link_to 'Edit', edit_no_style_path(@no_style) %> |
<%= link_to 'Back', no_styles_path %>
