<p id="notice"><%= notice %></p>

<h1>Just Styles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @just_styles.each do |just_style| %>
      <tr>
        <td><%= just_style.title %></td>
        <td><%= just_style.body %></td>
        <td><%= link_to 'Show', just_style %></td>
        <td><%= link_to 'Edit', edit_just_style_path(just_style) %></td>
        <td><%= link_to 'Destroy', just_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Just Style', new_just_style_path %>
