<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @just_style.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @just_style.body %>
</p>

<%= link_to 'Edit', edit_just_style_path(@just_style) %> |
<%= link_to 'Back', just_styles_path %>
